{% extends "base_logado.html" %}

{% block content %}

<div class="container mt-5">
    <form class="row g-3" action="{{ url_for('cadastrar_eventos') }}" method="POST">
        <div class="col-md-6">
            <label for="titulocadastro" class="form-label">Titulo do evento</label>
            <input type="text" class="form-control" id="titulocadastro" name="titulo" required placeholder="Ex: Festa de Sant'ana">
        </div>
        <div class="col-md-6">
            <label for="organizadorcadastro" class="form-label">Organização</label>
            <input type="text" class="form-control" id="organizadorcadastro" name="org" required placeholder="Ex: Prefeitura de Caicó">
        </div>
        <div class="col-12">
            <label for="descricaoentrada" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricaoentrada" name="descricao" required placeholder="Ex: A festa de Sant'ana é o melhor festival do Brasil, venha conferir!">
        </div>
        <div class="col-12">
            <label for="descricaoentrada2" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="descricaoentrada2" placeholder="Bairro passa nada, Rua do sufoco, 157" name="endereco" required>
        </div>
        <div class="col-md-5">
            <label for="cidadeentrada" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="cidadeentrada" name="cidade" required placeholder="Ex: Caicó">
        </div>
        <div class="col-md-3">
            <label for="estadoentrada" class="form-label">Estado</label>
            <select id="estadoentrada" class="form-select" name="estado" required>
                <option selected>Escolher...</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="dataentrada" class="form-label">Data</label>
            <input type="date" class="form-control" id="dataentrada" name="data" required>
        </div> 
        <div class="col-md-2">
            <label for="horaentrada" class="form-label">Hora</label>
            <input type="time" class="form-control" id="horaentrada" name="hora" required>
        </div>              
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>

{% endblock%}