{% extends "base_logado.html" %}

{% block content %}

<div class="container mt-5"></div>
    <form class="w-50 mx-auto" action="{{ url_for('cadastre_se') }}" method="POST">
        <div class="mb-3">
            <label for="cadas" class="form-label">ID do evento</label>
            <input type="number" class="form-control rounded-pill" id="cadas" name="id" required>
        </div>
        <button type="submit" class="btn btn-primary w-50 mx-auto d-block rounded-pill">Cadastrar-se</button>
    </form>
</div>

{% endblock %}