{% extends "base_logado.html" %}

{% block content %}

<div class="container seus-eventos mt-5">
    <h1>Seus eventos</h1>
    <div class="container mt-5">
        <div class="row">
            {% for dado in dados %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{dado["eve_titulo"]}}</h5>
                        <p class="card-text"><strong>Organizador:</strong> {{dado["eve_org"]}}</p>
                        <p class="card-text">{{dado["eve_desc"]}}</p>
                        <p class="card-text"><strong>Local:</strong> {{dado["eve_endereco"]}}, {{dado["eve_cidade"]}}, {{dado["eve_estado"]}}</p>
                        <p class="card-text"><strong>Data:</strong> {{dado["eve_data"]}} <strong>Hora:</strong> {{dado["eve_hora"]}}</p>
                    </div>
                </div>  
            </div>
            {% endfor %}
        </div>
    </div>
    




<div class="container inscrito mt-5">

    <h1>Eventos que você se inscreveu</h1>

    <div class="container mt-5">
        <div class="row">
            {% for dado in dados2 %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{dado["eve_titulo"]}}</h5>
                        <p class="card-text"><strong>Organizador:</strong> {{dado["eve_org"]}}</p>
                        <p class="card-text">{{dado["eve_desc"]}}</p>
                        <p class="card-text"><strong>Local:</strong> {{dado["eve_endereco"]}}, {{dado["eve_cidade"]}}, {{dado["eve_estado"]}}</p>
                        <p class="card-text"><strong>Data:</strong> {{dado["eve_data"]}} <strong>Hora:</strong> {{dado["eve_hora"]}}</p>
                    </div>
                </div>  
            </div>
            {% endfor %}
        </div>
    </div>



</div>



{% endblock %}